[submodule "utils/makeEspArduino"]
	path = utils/makeEspArduino
	url = https://github.com/plerup/makeEspArduino.git
[submodule "libraries/callback"]
	path = libraries/callback
	url = https://github.com/tomstewart89/Callback.git
